*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
   background-size: cover;
   background-position: center;
    background-image: url(https://images.unsplash.com/photo-1522743791393-522312deeebf?q=80&w=1958&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#nav
{
    display: flex;
    justify-content: space-between; 
    position:relative;
    align-items: center;
    color: white;
    height: 100px;
    width: 100%;
    padding: 35px;
    
}
 #nav #anchor{                 /*  position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50% ,-50%); */
    display: flex;
    flex-direction: row;   
    gap: 50px;
   
    

}
#anchor a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 13px;
    color: white;
    text-decoration: none;
    position: relative;
    
}
#anchor #active::before{
    content: "";
    width: 35%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: -8px;
    left: 20px;
    transform: translate(-50%,-50%);
}
#nav i{
    color: black;
    width: 40px;
    height: 40px;
    background-color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

#centertext{
    position: absolute;
    width: 60%;
    height: 50%;
    padding: 40px 100px;
    color: white;

}
#centertext h5 span{
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    
}
#centertext h5{
    display: flex;
    align-items: flex-start;
    
}
#centertext h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: 700;
    white-space: wrap;
}
#cenbottom{
    
    margin-top: 15px;
    display: flex;
    gap: 30px;
    
}
#cenbottom #line{
   margin-top: 10px;
    top: 30px;
    width: 300px;
    height: 2px;
    background-color: white;
}
#cenbottom p{
    line-height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    font-size: 14px;
    font-weight: 400;
   

}
#bottom{
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 140px;
    background-color: white;
    padding: 55px 150px;
    display: flex;
    gap:65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer h3{
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
}
.footer h6{
    font-size: 11px;
    font-weight: 500;
    opacity: .6 ;
}
#box{
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    right: -40px;
    top: -29%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}